@layer tailwind {
	@tailwind base;
}
@tailwind components;
@tailwind utilities;

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	background-color: inherit;
}

html {
	/* scrollbar-color: #b5b9cc #e0e0e0; */
	/* scrollbar-width: auto; */
	scrollbar-width: none;

	overflow: auto;
}

::-webkit-scrollbar {
	/* width: 1px; */
	/* border-radius: 8px; */
	display: none;
}

::-webkit-scrollbar-track {
	box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
